
{% extends "base.html" %}

{% block head_content %}
    <title>Consulta de orden actividad</title>
{% endblock %}

{% load static %}

{% block container %}
      <div class="container mt-5 mb-5">
          <p class = "h1 mt-5 mb-5 text-center">Consulta de orden {{ orden.id }}</p>

          {% if orden.estatus == 0 %}
          <div class="alert alert-warning" role="alert">
            Actividad en revisión
          </div>
          {% elif orden.estatus == 1 %}
          <div class="alert alert-primary" role="alert">
            Actividad aceptada
          </div>
          {% elif orden.estatus == 2 %}
          <div class="alert alert-danger" role="alert">
            Actividad rechazada!!!
          </div>
          {% elif orden.estatus == 3 %}
          <div class="alert alert-success" role="alert">
            Actividad en ejecución
          </div>
          {% elif orden.estatus == 4 %}
          <div class="alert alert-dark" role="alert">
            Actividad finalizada
          </div>
          {% endif %}

          <div class="accordion" id="opcionesvarias">

            <div class="card">
              <div class="card-header" id="headBasico">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#contenidoBasico" aria-expanded="false" aria-controls="contenidoBasico">
                    Información básica
                  </button>
                </h5>
              </div>

              <div id="contenidoBasico" class="collapse" aria-labelledby="headBasico" data-parent="#opcionesvarias">
                <div class="card-body">
                  <div class="form-row">
                  <div class="form-group col-md-4 col-sm-12">
                    <label id="tipo_actividad">Tipo de órden <strong>{{ orden.actividad }}</strong> </label>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label for="gerencia">Gerencia <strong>{{ orden.gerencia.nombre }}</strong> </label>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label for="supervision">Supervisión <strong>{{ orden.supervisor.nombre }}</strong> </label>
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="asunto"> <strong>{{ orden.asunto }}</strong>
                    </label>
                  </div>
                  <div class="form-group">
                    <p>{{ orden.detalle }}</p>
                  </div>
                </div>
              </div>
            </div>

          <div class="card">
            <div class="card-header" id="headProgramacion">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#contenidoProgramacion" aria-expanded="false" aria-controls="contenidoProgramacion">
                  Programación
                </button>
              </h5>
            </div>

            <div id="contenidoProgramacion" class="collapse" aria-labelledby="headProgramacion" data-parent="#opcionesvarias">
              <div class="card-body">
                    <label>Localidades</label>
                    <ul>
                      {% for localidad in orden.localidades.all %} <li> {{ localidad.localidad }} </li>{% endfor %}
                    </ul>
                  <p class = "h4 mt-3 ">Periodo de actividad</p>
                  <div class="form-row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="fecha-inicio" class="label-control">Inicio de actividad
                          <strong>{{ orden.fecha_inicio|date:'d-m-Y' }} {{ orden.hora_inicio|time:'H:i' }}</strong>
                        </label>
                      </div>
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="fecha-fin" class="label-control">Fin de actividad
                          <strong>{{ orden.fecha_fin|date:'d-m-Y' }} {{ orden.hora_fin|time:'H:i' }}</strong>
                        </label>
                        </div>
                  </div>
              {% if orden.actividad == "VM" %}
               <p class = "h4 mt-1">Periodo de afectación</p>
                  <div class="form-row">
                      <div class="form-group col-md-3 col-sm-6">
                        <label for="fecha-inicio-afectacion" class="label-control">Fecha de inicio de afectación</label>
                        <strong>{{ orden.fecha_inicio_afectacion|date:'d-m-Y' }} {{ orden.hora_inicio_afectacion|time:'H:i' }}</strong>
                      </div>
                      <div class="form-group col-md-3 col-sm-6">
                        <label for="fecha-fin-afectacion" class="label-control">Fecha de fin de afectación</label>
                        <strong>{{ orden.fecha_fin_afectacion|date:'d-m-Y' }} {{ orden.hora_fin_afectacion|time:'H:i' }}</strong>
                      </div>
                  </div>
                  {% endif %}
              </div>
            </div>
        </div>

          <div class="card">
            <div class="card-header" id="headProveedor">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#contenidoProveedor" aria-expanded="false" aria-controls="contenidoProveedor">
                  Proveedor
                </button>
              </h5>
            </div>

            <div id="contenidoProveedor" class="collapse" aria-labelledby="headProveedor" data-parent="#opcionesvarias">
              <div class="card-body">
                <div class="form-group">
                  <label for="proveedor">Proveedor <strong>{{ orden.proveedor.nombre }}</strong> </label>
                  <ul>
                      {% for ejecutor in orden.ejecutores.all %} <li> {{ ejecutor.nombre }} </li>{% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headActividades">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#contenidoActividades" aria-expanded="false" aria-controls="contenidoActividades">
                  Listado de actividades
                </button>
              </h5>
            </div>
            <div id="contenidoActividades" class="collapse" aria-labelledby="headActividades" data-parent="#opcionesvarias">
              <div class="card-body">
                <a href="{{ orden.mop.url }}">Descarga MOP aqui </a>
              </div>
            </div>
          </div>

          {% if orden.actividad == "VM" %}
          <div class="card">
            <div class="card-header" id="headAfectacion">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#contenidoAfectacion" aria-expanded="false" aria-controls="contenidoAfectacion">
                  Afectación
                </button>
              </h5>
            </div>
            <div id="contenidoAfectacion" class="collapse" aria-labelledby="headAfectacion" data-parent="#opcionesvarias">
              <div class="card-body">

                <div class="form-group">
                  <label for="personal-proveedor">Selecciona los servicios afectados</label>
                    {% for servicio in orden.servicios.all %} <li> {{ servicio.nombre }} </li>{% endfor %}
                </div>
                <div class="form-group">
                  <label for="clientesafectados">Lista de clientes afectados</label>
                  {{ orden.clientes_afectados}}
                </div>
              </div>
            </div>
          </div>
          {% endif %}

        </div>

      </div>


      <div class="container mt-3">
        {% if not perms.ordenes.change_orden %}
        <label for="log">Historial de logs y comentarios</label>
        <textarea class="form-control" id="prevlog" name="prevlog" rows="5" disabled>{{ orden.log }}</textarea>

        {% elif orden.estatus != 0 and orden.estatus != 1 and orden.estatus != 4 %}
        <label for="log">Historial de logs y comentarios</label>
        <textarea class="form-control" id="prevlog" name="prevlog" rows="5" disabled>{{ orden.log }}</textarea>
        {% else %}
        <p class = "h3 text-center">Actualización</p>
        <form method="post">
          {% csrf_token %}
          <input name="id" type="hidden" value="{{ orden.id }}">
          <div class="form-group">
            <label for="estatus">Selecciona un estatus nuevo</label>
            <select class="custom-select form-control {% if form.estatus.errors %}is-invalid{% endif %}" id="estatus" name="estatus" >
              <option selected value="0">--Cambiar estatus--</option>
              {% if orden.estatus == 0 %}<option value="1">Aceptado</option> {% endif %}
              {% if orden.estatus == 0 %}<option value="2">Rechazado</option> {% endif %}
              {% if orden.estatus == 1 %}<option value="3">En ejecución</option> {% endif %}
              {% if orden.estatus == 3 %}<option value="4">Finalizado</option> {% endif %}
            </select>
            <div class="invalid-feedback">
                {% for error in form.estatus.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label for="log">Comentarios de estatus</label>
            <textarea class="form-control {% if form.log.errors %}is-invalid{% endif %}" id="log" name="log" rows="3">{% if form.errors %}{{ form.log.value }}{% endif %}</textarea>
            <div class="invalid-feedback">
                {% for error in form.log.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label for="log">Historial de logs y comentarios</label>
            <textarea class="form-control" id="prevlog" name="prevlog" rows="5" disabled>{% if form.errors %}{{ viejo_log }}{% else %}{{ orden.log }}{% endif %}</textarea>
            <div class="invalid-feedback">
                {% for error in form.log.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        {% endif %}

    </div>

{% endblock %}
