{% extends "base.html" %}

{% block head_content %}
    <title>Listado de órdenes de trabajo Maxcom</title>
{% endblock %}

{% load static %}

{% block container %}
      <div class="container mt-5 mb-5">
          <p class = "h1 mt-5 mb-5 text-center">Módulo de alta de órdenes y ventanas Maxcom</p>

          {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form action="{% url "ordenes:listado" %}" method="GET">
              <input class="form-control mb-3" id="searchby" name="searchby" type="text" placeholder="Filtro de actividades">
              <input type="submit" value="Buscar">
            </form>


          <table class="table table-sm" id="listado">
            <thead class="thead-light">
              <tr>
                <th scope="col">Orden</th>
                <th scope="col">Región</th>
                <th scope="col">Descripción</th>
                <th scope="col">Responsable</th>
                <th scope="col">Estatus</th>
              </tr>
            </thead>
            <tbody>
              {% for orden in ordenes %}
              <tr>
                <th scope="row">{{ orden.id }}</th>
                <td>{% for localidad in orden.localidades.all %} <p> {{ localidad.localidad }} </p>{% endfor %}</td>
                <td>{{ orden.asunto }}</td>
                <td>{{ orden.supervisor.nombre }}</td>
                <td><a href = "{% url 'ordenes:consulta' orden.id %}">
                  {% if orden.estatus == 0 %}
                  <button type="button" class="btn consulta-orden btn-warning" >En revisión</button>
                  {% elif orden.estatus == 1 %}
                  <button type="button" class="btn consulta-orden btn-primary" >Aceptada</button>
                  {% elif orden.estatus == 2 %}
                  <button type="button" class="btn consulta-orden btn-danger" >Rechazada</button>
                  {% elif orden.estatus == 3 %}
                  <button type="button" class="btn consulta-orden btn-success" >En ejecución</button>
                  {% elif orden.estatus == 4 %}
                  <button type="button" class="btn consulta-orden btn-light" >Finalizada</button>
                  {% endif %}
                </a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Detalle de la orden</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">



                </div>
                <div class="modal-footer">

                </div>
              </div>
            </div>
          </div>


          <nav>
                 <ul class="pagination justify-content-end">
                     {% if page_obj.has_previous %}
                         <li class="page-item">
                             <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                             Previous
                             </a>
                         </li>
                     {% endif %}
                     <li class="page-item">
                         <a class="page-link" href="#">
                             {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                         </a>
                     </li>
                     {% if page_obj.has_next %}
                         <li class="page-item">
                             <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                             Next
                             </a>
                         </li>
                     {% endif %}
                 </ul>
             </nav>

      {% if perms.ordenes.add_orden %}
          <div class="container text-center">
            <a href = "{% url "ordenes:nuevo" %}">  <button type="button" class="btn btn-outline-primary">Crear nueva orden</button> </a>
          </div>
      {% endif %}
      </div>

<script>

  $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var url = button.data('url');
      $.ajax({
        type: 'POST',
        url: url,
        data:{
              csrfmiddlewaretoken:'{{csrf_token}}',
            },
        success: function (data) {
          $(".modal-body").html(data);
        }
      });

    });

</script>


{% endblock%}
