{% extends "base.html" %}

{% block head_content %}
    <title>Portal de órdenes de trabajo </title>
{% endblock %}

{% load static %}

{% block container %}
<img src="{% static 'img/tic.png' %}" alt="" width="270" height="150" class="mx-auto d-block">
<p class = "h1 mb-5 text-center">Administración de órdenes y ventanas</p>
<div class="row">
  <div class="col-md-4 col-sm-12">

  </div>
  <div class="col-md-4 col-sm-12">
    {% if form.errors %}
        <p class="alert alert-danger">Usuario o contraseña incorrectos!!!</p>
    {% endif%}
    <form class="form-signin" method="POST" action="{% url "ordenes:login" %}">
      {% csrf_token %}
      <div class="container">
          <h1 class="h3 mb-3 font-weight-normal">Favor de identificarte</h1>

          <div class="form-group">
  		<input class="form-control" type="text" placeholder="Username" name="username" />
  	</div>
          <div class="form-group">
  		<input class="form-control" type="password" placeholder="Password" name="password" />
  	</div>
          <button class="btn btn-danger btn-block mt-5" type="submit">Ingresa!</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-sm-12">

  </div>

</div>
{% endblock%}
